<div class="col-xs-8 calificaImagen1">
    <div >
        <img class="btn-aceptar-rechazar {{imagesPdf[0].color}}" src="{{load_static + imagesPdf[0].path}}" (click)="validOkXImg(imagesPdf[0])">
    </div>
    <div>
        <label>
            {{imagesPdf[0].etiqueta}}
        </label>
    </div>
</div>
<div class="col-xs-4 calificaImagen2">
    <div>
        <img class="btn-aceptar-rechazar {{imagesPdf[1].color}}" src="{{load_static + imagesPdf[1].path}}" (click)="validOkXImg(imagesPdf[1])">
    </div>
    <div>
        <label>
            {{imagesPdf[1].etiqueta}}
        </label>
    </div>
</div>