<div class="contenido-principal">
    <div class="registos" *ngIf="_flagSeaarch">
        <form class="form-busqueda">
            <label for="busqueda">Buscar: </label>
            <div class="content-input">
                <input id="busqueda" type="text" placeholder="Busqueda de cliente" name="busqueda" autocomplete="off"
                 [disabled]="search.searching" [(ngModel)]="search.text" (ngModelChange)="eventSearch()" />
                <span class="icon-cross btn-cerrar" (click)="cleanSearch()"></span>
            </div>
        </form>
    </div>
    <div class="registos" *ngIf="pageDetail.pages && pageDetail.pages.length">
        <table class="table">
            <thead>
                <td class="text-center" *ngFor="let column of _columns">{{ column.name }}</td>
            </thead>
            <tbody>
                <tr *ngFor="let field of listData">
                    <td *ngFor="let column of _columns" [ngClass]="column.key == 'imagen'? 'padding-img' : ''">
                        <span [ngSwitch]="column.key">
                            <span *ngSwitchCase="'imagen'">
                                <img class="img-captacion" src="{{load_static}}/images/mesa-control-expedientes/{{catColores(field.estadoBloqueo)}}"
                                    (click)="getRecord(field)">
                            </span>
                            <span *ngSwitchDefault>
                                {{field[column.key]}}
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="text-center">
                <ul class="pagination cursorPointer" *ngIf="pageDetail.pages && pageDetail.pages.length">
                    <li [ngClass]="{disabled:pageDetail.currentPage === 1}">
                        <a (click)="setPage($event, 1,pageDetail.rango,pageDetail.total)">Inicio</a>
                    </li>
                    <li [ngClass]="{disabled:pageDetail.currentPage === 1}">
                        <a (click)="setPage($event, pageDetail.currentPage - 1,pageDetail.rango,pageDetail.total)">Anterior</a>
                    </li>
                    <li *ngFor="let page of pageDetail.pages" [ngClass]="{active:pageDetail.currentPage === page}">
                        <a (click)="setPage($event, page,pageDetail.rango,pageDetail.total)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pageDetail.currentPage === pageDetail.totalPages}">
                        <a (click)="setPage($event, pageDetail.currentPage + 1,pageDetail.rango,pageDetail.total)">Siguiente</a>
                    </li>
                    <li [ngClass]="{disabled:pageDetail.currentPage === pageDetail.totalPages}">
                        <a (click)="setPage($event, pageDetail.totalPages,pageDetail.rango,pageDetail.total)">Último</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>