<ng-template [ngIf]="avatar" [ngIfElse]="selfie">
    <div class="container-avatar">
        <div class="foto">
            <img [src]="fotoCliente" alt="Foto Usuario" />
        </div>
        <div class="datos-usuario">
            <div class="datos">
                <p *ngIf="empleado.folio !== null">Folio {{empleado.folio}}</p>
                <p class="nombre"><b>{{empleado.cliente}}</b></p>
                <p>{{empleado.empresa}}</p>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #selfie>
    <div class="foto-single">
        <img [src]="fotoCliente" alt="Foto Usuario" />
    </div>
</ng-template>