<header></header>
<div class="fondo-portal">
     <div class="contenedor-general">
          <!-- BOTON REGRESAR -->
          <div class="contenedor-btn-regresar">
               <div class="btn-regresar">
                    <div class="regresar" (click)="Regresar()">
                         <img src="{{load_static}}/images/header/back.png" alt="regresar">
                         Regresar
                    </div>
               </div>
          </div>
          <!-- FIN BOTON REGRESAR -->
          <!-- MENU DE REPORTES DE PORTAL BIG -->
          <div class="contenedor-menu fondo-contenedores">
                   <div class="menu-opcion" *ngFor="let item of children" [routerLink]="[item.url]">
                       <div class="icono-span {{item.color}}">
                            <span class="{{item.imagen}}"></span>
                       </div>
                        <div class="informacion {{item.claseFondo}}">
                             <h3 class="titulo-menu">{{item.textoMenu}}</h3>
                             <div class="progress-bar">
                                  <div class="{{item.claseIcono}}"></div>
                             </div>
                        </div>
                   </div>
          </div>
          <!-- FIN MENU DE REPORTES DE PORTAL BIG -->
     </div>
</div>
