.contenedor-menu{
  padding: 12px 17px;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor-btn-regresar {
  width: calc( 80% + 34px);
  width: -webkit-calc(80% + 34px);
  width: -moz-calc(80% + 34px);
  margin: 0px auto;
}

.contenedor-btn-regresar .btn-regresar{
  height: 20px;
  display: flex;
}

.contenedor-btn-regresar .btn-regresar .regresar {
  height: 20px;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.contenedor-btn-regresar .btn-regresar .regresar img {
  padding-right: 3px;
}

.contenedor-menu .menu-opcion {
  width: 49%;
  display: flex;
  margin: 10px 0px;
}

.contenedor-menu .menu-opcion img {
     height: 119px;
}

.contenedor-menu .menu-opcion .informacion{
  width: 100%;
  height: calc( 100% - 3px);
  height: -webkit-calc(100% - 3px);
  height: -moz-calc(100% - 3px);
  color: white;
}

.contenedor-menu .menu-opcion .informacion .titulo-menu{
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px
}

.contenedor-menu .menu-opcion .informacion .progress-bar{
     height: 81px;
     display: flex;
     align-items: flex-end;
}

.contenedor-menu .menu-opcion .informacion .progress-bar div {
    width: 100%;
    height: 5px;
  }

@media screen and (max-width: 750px) {
  .contenedor-menu .menu-opcion {
    display: flex;
    margin: 10px 0px;
    width: 100%;
  }
}

iframe{
    width: 100%;
    height: 100%;
}


.row-simple-border {border: 1px solid #A6A7A9;padding: 15px 10px;}

.row-margin-bottom {margin-bottom: 20px;}

.col-without-padding-left {padding-left: 0 !important;}

.label-custom {font-size: 1.25rem;font-weight: 500;}

.mat-datepicker-toggle {font-size: 39px !important}

.invalid-form-control{
    border-color: #FF2439 !important;
}
