<header></header>
<div class="row rowSubMenuHeader">
    <div class="col-xs-12 main-general">
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-2 row middle-xs center-xs">
            </div>
            <div class="col-xs-9 col-sm-10 col-md-10 row middle-xs">

                <div class="row col-xs-12 pathNavegacion btn-regresar">
                    <a routerLink="{{item.pahtUrl}}" class="{{item.class}}" *ngFor="let item of menuNavigation"> {{item.name}} </a>
                </div>
            </div>
        </div>
        <div class="row container-graph">

            <div class="col-xs-3 col-sm-2 col-md-2  boxMenuIzquierdo reset-padding">
                <ul class="nav">
                    <li class="btnMenuLateral" routerLink="{{item.url}}" routerLinkActive="active" *ngFor="let item of menuLateral">
                        <div class="imgBtnMenuLateral {{item.claseIcono}}">
                            <i class="{{item.imagen}}"></i>
                        </div>
                        <div class="desBtnMenuLateral {{item.claseFondo}}">
                            {{item.textoMenu}}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row col-xs-9 col-sm-10 col-md-10 center-xs">
                <div class="row col-xs-12 center-xs row-menu-general">
                    <div class="col-xs-12">
                        <div class="card content-graph">
                            <div class="card-header azul-03-ico">
                                <div class="row">
                                    <div class="col-xs-9 reset-padding">
                                        <i class="icon-library2 margin-left05em"></i><span *ngIf="!mostrarDetalle" >Créditos por instituciones</span>
                                        <span *ngIf="mostrarDetalle && !showListEmpleados" >Desglose de créditos de {{nombreInstitucion}}</span>
                                        <span *ngIf="showListEmpleados" >Lista de empleados de {{nombreInstitucion}} por créditos {{tipoCreditosEmpleados}}</span>
                                    </div>
                                    <div class="col-xs-3 end-xs containet-btn-regresar">
                                        <p *ngIf="mostrarDetalle && !showListEmpleados" (click)="Regresar()"
                                           class="btn-regresar">
                                            <span class="icon-arrow-left"></span>
                                            Regresar
                                        </p>
                                        <p *ngIf="showListEmpleados" (click)="RegresarGraficas()"
                                           class="btn-regresar">
                                            <span class="icon-arrow-left"></span>
                                            Regresar
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="card-block row graphs" *ngIf="!mostrarDetalle">
                              
                                <div class="col-xs-12">
                                    <grafica-highchart (eventClick)="CambiarGrafica($event)"></grafica-highchart>
                                </div>
                            </div>



                            <div class="card graphs" *ngIf="mostrarDetalle && !showListEmpleados">
                                <div class="row container-tabs-inst" >
                                    <div (click)="setTab(1)" class="tabs" [ngClass]="{'tab-active': !activo}" style="background-color: #0DA9D9">Empleados y Estatus
                                        <span ></span>
                                    </div>
                                    <div (click)="setTab(2)" class="tabs" style="background-color: #0DA9D9" [ngClass]="{'tab-active': activo}">Detalle y Balance
                                        <span ></span>
                                    </div>
                                </div>


                                    <div *ngIf="!activo" class="col-xs-12 graps-with-tabs">
                                        <div class="col-xs-12 top-graphs">
                                            <grafica-highchart #graficaEmpleados (eventClick)="seleccionarBarra($event)"></grafica-highchart>
                                        </div>
                                        <div class="col-xs-12 row bottom-graphs" >
                                            <div class="col-xs-3 container-table-data">
                                                <table class="tabla-categories">
                                                    <caption class="caption-center">Categorías</caption>
                                                    <tbody>
                                                    <tr *ngFor="let item of Credito; let i = index" (click)="CambiarGrafica(item)">
                                                        <td>
                                                            <div [ngStyle]="{'background-color': paletaColores[i]}" class="background">
                                                            </div>
                                                        </td>
                                                        <td>{{item.name}}</td>
                                                        <td class="border-left">{{item.y}}</td>
                                                    </tr>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td class="border-left">
                                                        {{totalCreditos}}
                                                    </td>
                                                    <tr>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xs-9">
                                                <grafica-highchart #graficaEstatus ></grafica-highchart>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="activo" class="col-xs-12 row graps-with-tabs">

                                        <div class="col-xs-6 graps-with-tabs">
                                            <grafica-highchart  #graficaDetalle ></grafica-highchart>
                                        </div>
                                        <div class="col-xs-6 graps-with-tabs">
                                            <grafica-highchart  #graficaBalance ></grafica-highchart>
                                        </div>
                                    </div>
                            </div>


                            <div class="row card" *ngIf="showListEmpleados">
                                <div class="col-xs-12">
                                    <div class="scroll marginleftableNombre">
                                    <table class="table tableScroll">
                                        <thead>
                                            <th class="colFixedNombre">Nombre</th>
                                            <th>Cliente único</th>
                                            <th>Número de empleado</th>
                                            <th>RFC</th>
                                            <th>Edad</th>
                                            <th>Domicilio</th>
                                            <th>Ingreso mensual</th>
                                            <th *ngIf="showOtorgados">Plazo</th>
                                            <th *ngIf="showOtorgados">Tasa</th>
                                            <th *ngIf="showOtorgados">Abono</th>
                                            <th *ngIf="showOtorgados">Capital pagado</th>
                                            <th *ngIf="showOtorgados">Frecuencia pago</th>
                                            <th *ngIf="showOtorgados">Fecha surtimiento</th>
                                            <th *ngIf="showOtorgados">Fecha termino</th>
                                            <th *ngIf="showOtorgados">Interés pagado</th>
                                            <th *ngIf="showOtorgados">IVA</th>
                                            <th *ngIf="showOtorgados">IVA pagado</th>
                                            <th *ngIf="showOtorgados">Monto prestado</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let empleado of pagedItems">
                                                <td class="colFixedNombre">{{empleado.nombre}}</td>
                                                <td>{{empleado.clienteUnico}}</td>
                                                <td>{{empleado.numempleado}}</td>
                                                <td>{{empleado.rfc}}</td>
                                                <td>{{empleado.edad}}</td>
                                                <td>{{empleado.domicilio}}</td>
                                                <td>{{empleado.ingresoMensual}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.plazo}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.tasaInteres}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.abono}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.capitalpagado}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.frecuenciaPago}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.fsurtimiento}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.ftermino}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.interespagado}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.iva}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.ivapagado}}</td>
                                                <td *ngIf="showOtorgados">{{empleado.montoPrestado}}</td>
                                            </tr>
                                        </tbody>
                    
                                    </table>
                                    </div>
                                    <div class="container">
                                        <div class="text-center">
                                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="setPage(1,pager.rango,pager.total)">Inicio</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="setPage(pager.currentPage - 1,pager.rango,pager.total)">Anterior</a>
                                                </li>
                                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                                    <a (click)="setPage(page,pager.rango,pager.total)">{{page}}</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="setPage(pager.currentPage + 1,pager.rango,pager.total)">Siguiente</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="setPage(pager.totalPages,pager.rango,pager.total)">Último</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="activateLoading" class="Loading">
            <div class="loader"></div>
        </div>
    </div>
</div>
