<header></header>
<!-- Fondo y contenedor principal -->
<div class="row rowSubMenuHeader">
    <div class="col-xs-12 main-general">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <div class="col-xs-12  cont-boton-regresar">
                    <div class="boton-regresar" (click)="Regresar()">
                        <img src="{{load_static}}/images/header/back.png" alt="regresar">
                        Regresar
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-calif-rubros">
            <!-- Menu lateral de rubros -->
            <div class="col-xs-3 col-sm-2 col-md-2 boxMenuIzquierdo reset-padding" [ngClass]="{'not-clickable' : objHandler.loading}">

                <mesa-control-avatar #avatarUsuario>
                </mesa-control-avatar>

                <ul>
                    <li class="menu-opcion verde-04-active">
                        <div class="icono verde-04-ico">
                            <span class="icon-stack"></span>
                        </div>
                        <div class="titulo-texto">
                            documentos
                        </div>
                        <div class="status-calif"><!-- Calificación --></div>
                    </li>
                    <li class="menu-opcion verde-04" *ngFor="let item of arrDocumentos" [ngClass]="{'verde-04-active': item.active}" (click)="seleccionarDocumento(item)">
                        <div class="icono verde-04-ico">
                            <span class="icon-files"></span>
                        </div>
                        <div class="titulo-texto">
                            {{item.title}}
                        </div>
                        <div class="status-calif"><!-- Calificación --></div>
                    </li>
                    <li class="menu-opcion verde-04" [ngClass]="{'verde-04-active': objHandler.notas}" (click)="MostrarNotas()" *ngIf="objHandler.tipoUsuario">
                        <div class="icono verde-04-ico">
                            <span class="icon-sticky-note-o"></span>
                        </div>
                        <div class="titulo-texto">
                            Comentarios
                        </div>
                        <div class="status-calif"><!-- Calificación --></div>
                    </li>
                </ul>
            </div>
            <!-- Contenido de los rubros de las solicitudes -->
            <div class="row col-xs-9 col-sm-10 col-md-10 center-xs" *ngIf="!objHandler.notas">
                <div class="col-xs-12">
                    <!-- HEADER DEL RUBRO A CALIFICAR -->
                    <div class="col-xs-12 header-contenidos verde-04-active">
                        <div class="principal">
                            <img src="{{load_static}}/images/header/control.png">
                            <div class="titulo">{{objHandler.titleDocument}}</div>
                        </div>
                     </div>
                     <!-- FIN HEADER DEL RUBRO A CALIFICAR -->

                     <!-- RUBROS Y CALIFICACION DE LOS MISMOS -->
                      <div class="contenidos-rubros">
                          <div class="container-visor-documentos">
                              <visor-documentos
                                    #visorDocumentos
                                    (GetImageBase64)="ConsultarDocumento($event)"
                                    (DownloadDocument)="DescargarDocumento($event)"
                                    ></visor-documentos>
                          </div>
                      </div>
                      <div class="contenidos-botones-finales" *ngIf="objHandler.btnRevisar">
                          <a class="verde-09" (click)="ModalRevisado(true)">
                              Revisar
                          </a>
                      </div>
                </div>
            </div>
            <!-- vista de notas agregadas por el usuario -->
            <div class="row col-xs-9 col-sm-10 col-md-10" *ngIf="objHandler.notas">
                <div class="col-xs-12">
                    <!-- HEADER DEL RUBRO A CALIFICAR -->
                    <div class="col-xs-12 header-contenidos verde-04-active">
                        <div class="principal">
                            <span class="icon-commenting"></span>
                            <div class="titulo">Comentarios</div>
                        </div>
                        <div class="principal" (click)="ModalNuevoComentario(true)">
                            <span class="icon-plus3"></span>
                        </div>
                     </div>
                     <!-- FIN HEADER DEL RUBRO A CALIFICAR -->

                     <!-- RUBROS Y CALIFICACION DE LOS MISMOS -->
                      <div class="contenidos-rubros">
                          <div class="container-comentario">
                              <div class="comentarios">
                                  <div class="datos-usuario">
                                      <span class="icon-user icon"></span>
                                      <div class="datos-text">
                                          <p class="name-user">Luis Fernando Gonzalez Reyes</p>
                                          <p>174512</p>
                                          <p>12-12-2017</p>
                                      </div>
                                  </div>
                                  <div class="container-text">
                                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                       Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                       nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                                       nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="contenidos-botones-finales center-xs">
                          <a class="verde-09" (click)="ModalRevisado(true)">
                            Revisar
                          </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-dialog [(visible)]="objHandler.modalNuevoComentario">
    <div class="modal-container">
        <div class="modal-header-verde">
            <h2>Nuevo Comentario</h2>
        </div>
        <div class="modal-contenidos">
            <form class="modal-seleccion" [formGroup]="formNvoComen" novalidate>
                <div class="items">
                    <input class="inputs" type="text" name="usuario" formControlName="usuario" [readonly]="true">
                </div>
                <div class="items">
                    <input class="inputs" type="text" name="id-usuario" formControlName="idUsuario" [readonly]="true">
                </div>
                <div class="items">
                    <textarea class="observaciones" name="nuevo-comentario" placeholder="Nuevo Comentario" formControlName="comentario" maxlength="400" (keypress)="KeyPressComentario()">
                    </textarea>
                </div>
                <p class="msgE-invalid" *ngIf="objHandler.alertMsgE">Se debe ingresar algún comentario</p>
            </form>
            <div class="modal-botones">
                <button class="verde-08-ico button-enabled" (click)="ModalNuevoComentario(false)">Cancelar</button>
                <button class="verde-08-ico button-enabled" (click)="AgregarComentario(formNvoComen.value)">Continuar</button>
            </div>
        </div>
    </div>
</app-dialog>
<app-dialog [(visible)]="objHandler.modalRevisado">
    <div class="modal-container">
        <div class="modal-header-verde">
            <h2>Nuevo Comentario</h2>
        </div>
        <div class="modal-contenidos">
            <form class="modal-seleccion">
                <div class="items">
                    <label class="labels">Se va a actualizar la solicitud a revisada</label>
                </div>
                <div class="items">
                    <label class="labels">¿Desea cotinuar?</label>
                </div>
            </form>
            <div class="modal-botones">
                <button class="verde-08-ico button-enabled" (click)="ModalRevisado(false)">Cancelar</button>
                <button class="verde-08-ico button-enabled" (click)="MarcarRevisado()">Continuar</button>
            </div>
        </div>
    </div>
</app-dialog>
<div *ngIf="activateLoading" class="Loading">
    <div class="loader"></div>
</div>
<simple-notifications [options]="optionsNotifications"></simple-notifications>
