.tag {
	
}

.btn-custom {
	padding: 5px;
    margin-top: 3px;
    width: 80px;
}
.select{
    height: 35px !important;
    border: solid 1px #dcdcdc !important;
    transition: box-shadow 0.3s, border 0.3s !important;
    border-radius: 4px !important;
    font-family: 'Roboto-Light', Helvetica;
}

.boton{
   width: 90%;
    height: 33px;
    color: #FFFFFF;
    font-family: "Roboto-Medium", Arial;
    /* padding: 10px 0; */
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 16px;
    /*margin: 24px 0;*/
}
#verde{
    background-color: #25B79B;
    color: #fff;
}
#tc{
        margin-top: 8px;
}

#busqueda{
    /*height: 35px !important;*/
    /*padding: 10px !important;*/
    border: solid 1px #dcdcdc !important;
    transition: box-shadow 0.3s, border 0.3s !important;
    border-radius: 4px !important;
    /*width: 100% !important;*/
    font-family: 'Roboto-Light', Helvetica;
}

.divider{
    border-top: 1px solid #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
}