<header></header>
<div class="row rowSubMenuHeader">
    <div class="col-xs-12  rowSubMenuHeader main-general">
        <div class="row">
            <div class="col-xs-3 col-sm-2  row middle-xs center-xs">
            </div>
            <div class="col-xs-9 col-sm-10 row middle-xs">

                <div class="row col-xs-12 pathNavegacion btn-regresar">

                    <a routerLink="{{item.pahtUrl}}" class="{{item.class}}" *ngFor="let item of menuNavigation"> {{item.name}} </a>

                </div>

            </div>
        </div>

        <div class="row rowSubMenuHeader">

            <div class="col-xs-2  boxMenuIzquierdo reset-padding">
                <ul class="nav">
                    <li class="btnMenuLateral" routerLink="{{item.url}}" routerLinkActive="active"  *ngFor="let item of menuLateral">
                        <div class="imgBtnMenuLateral {{item.claseIcono}}">
                            <i class="{{item.imagen}}"></i>
                        </div>
                        <div class="desBtnMenuLateral {{item.claseFondo}}">
                            {{item.textoMenu}}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-xs-10 row center-xs">

                <div class="row col-xs-12 center-xs row-menu-general">
                    <div class="col-xs-12">



                        <div class="card">
                            <div class="card-header-formularios rosa-02-ico">
                                <div class="row">
                                    <div class="col-xs-9 reset-padding">
                                        <i class="icon-table2 margin-left05em"></i>Comisiones Emisor
                                    </div>
                                    <!-- <div class="col-xs-3 end-xs reset-padding btnFormularios">
                                        <a (click)="openForm()" class="btn btn-sm btn-success"> <i class="icon-plus margin-left05em icon-btn-headers"></i> Nuevo</a>
                                        <a (click)="reporte()" class="btn btn-sm btn-success"> <i class="icon-file-text2 margin-left05em icon-btn-headers"></i> Excel</a>
                                    </div> -->
                                </div>
                            </div>

                            
                            <div class="card-block minheight">
                                
                                                                    <div class="row">
                                                                            <div class="col-sm-5 titleMenuizquiero">
                                                                                <h4 class="card-title mb-0">{{depositosObject.name}}</h4>
                                                                                <div class="small text-muted">RFC: {{depositosObject.rfcInstitucion}}</div>
                                                                            </div>
                                                                            <div class="col-sm-7 titleMenuderecho">
                                                                                    <div class="small text-muted">Contrato DAZ: {{depositosObject.idContratoDaz}}</div>
                                                                                    <div class="small text-muted">Cuenta: {{depositosObject.numCuenta}}</div>
                                                                                    <div class="small text-muted">Cuenta Cobro Comision: {{depositosObject.numCuenta}}</div>
                                                                                <!-- <div class="small text-muted">Referencia: Uniforme</div> -->
                                                                            </div>
                                                                    </div>
                                
                                                                    <div class="row">
                                                                        <div class="col-xs-12 center-xs">
                                                                            <div class="card-block bodercardblock">
                                
                                                                                    <form class="form-horizontal ng-pristine ng-valid" #form="ngForm" (ngSubmit)="guardarComisiones()">
                                
                                
                                                                                            <div class="form-group row">
                                                                                                    <label class="col-md-3 form-control-label" for="select">Forma de cobro</label>
                                                                                                    <div class="col-md-9">
                                                                                                        <select id="select" name="formasdecobro" class="form-control" required [(ngModel)]="formasdecobro">
                                                                                                                    <option [ngValue]="undefined" selected>Seleccione</option>
                                                                                                                    <option *ngFor="let item of consultaFormasdeCobroObject" value="{{item.idFormaCobro}}">{{item.tipoCobro}} <label  style="display: initial" *ngIf="item.idFormaCobro == 1" >
                                                                                                                            $
                                                                                                                     </label></option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                        
                                        
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-md-3 form-control-label" for="select">Canales Configurados</label>
                                                                                                    <div class="col-md-9">
                                                                                                        <select id="select" name="canalConfigurado" class="form-control" size="1" required [(ngModel)]="canalConfigurado">
                                                                                                                        <option [ngValue]="undefined" selected>Seleccione</option>
                                                                                                                        <option *ngFor="let item of consultaCanalObject" value="{{item.idCanal}}">{{item.descCanal}} </option>
                                                                                                                    </select>
                                                                                                    </div>
                                                                                                </div>
                                        
                                                                                                <!-- <div class="form-group row">
                                                                                                        <label class="col-md-3 form-control-label">Tipo</label>
                                                                                                       <div class="col-md-9 alinradio">
                                                                                                           <label class="radio-inline marginRightRadio" for="inline-radio1">
                                                                                                                   <input type="radio" [(ngModel)]="porcentajeMontoRadio" [checked]="porcentajeMontoRadio" [value]="1" id="porcentajeMontoRadio" name="porcentajeMontoRadio" >Porcentaje
                                                                                                           </label>
                                                                                                           <label class="radio-inline marginRightRadio" for="inline-radio2">
                                                                                                                   <input type="radio" [(ngModel)]="porcentajeMontoRadio" [checked]="porcentajeMontoRadio" [value]="2" id="porcentajeMontoRadio" name="porcentajeMontoRadio" >Monto
                                                                                                           </label>
                                                                                                       </div>
                                                                                                   </div> -->
                                        
                                        
                                                                                                <div class="form-group row">
                                                                                                    <label class="col-md-3 form-control-label" for="text-input" *ngIf="formasdecobro == undefined">Valor</label>
                                                                                                    <label class="col-md-3 form-control-label" for="text-input" *ngIf="formasdecobro == 2">Porcentaje %</label>
                                                                                                    <label class="col-md-3 form-control-label" for="text-input" *ngIf="formasdecobro == 1">Monto</label>
                                        
                                                                                                    <div class="col-md-9">
                                                                                                        <input type="text" id="text-input" name="text-input" class="form-control" required [(ngModel)]="valorporcentajeMonto" (keydown)="numericoComision($event)" (keyup)="validatorcampodinamico(valorporcentajeMonto);decimales(valorporcentajeMonto)" maxlength="10">
                                                                                                    </div>
                                                                                                </div>
                                
                                
                                                                                        <div class="form-actions alinbtn editbtnguardar">
                                                                                                <button type="reset" class="btn btn-danger" (click)="cancelar()"> Cancelar</button>
                                                                                            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar</button>
                                                                                        </div>
                                
                                
                                
                                                                                        <div class="form-group row">
                                                                                                <div class="col-md-12">
                                                                                                    
                                                                                                        <div class="scroll">
                                                                                                                <table class="table">
                                                                                                                    <thead>
                                                                                                                        <th>Forma de Cobro</th>
                                                                                                                        <th>Canal Configurado</th>
                                                                                                                        <th>Porcentaje o monto</th>
                                                                                                                        <th>Acción</th>
                                                                                                                    </thead>
                                                                                                                    <tr *ngFor="let item of consultaComisionObject">
                                                                                                                            <td>{{item.tipoCobro}}</td>
                                                                                                                            <td>{{item.descCanal}}</td>
                                                                                                                            <td>
                                                                                                                                    <label class="elmamondelelder" style="display: initial" *ngIf="item.idFormaCobro == 1" >
                                                                                                                                           $
                                                                                                                                    </label>

                                                                                                                               {{item.porcMonto}} 

                                                                                                                               <label class="elmamondelelder" style="display: initial" *ngIf="item.idFormaCobro == 2" >
                                                                                                                                %
                                                                                                                          </label>
                                                                                                                           </td>
                                                                                                                            <td>
                                                                                                                                <a (click)="editar(item)" class="btnDetalle" title="Editar">
                                                                                                                                    <span class="icon-pencil"></span>
                                                                                                                                </a>
                                
                                                                                                                                <a (click)="showDialogAlert = !showDialogAlert; CargarIdComision(item)" class="btnDetalle" title="Eliminar">
                                                                                                                                        <span class="icon-bin"></span>
                                                                                                                                </a>
                                
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                </table>
                                                                                                            </div>
                                
                                                                                                </div>
                                                                                            </div>
                                                                                    </form>
                                
                                                                                    
                                                                                    <!--/row-->
                                                                                </div>
                                
                                
                                                                        </div>
                                
                                                                    </div>
                                
                                
                                                            </div>

                            

                        </div>

                    </div>
                </div>
            </div>

        </div>




    </div>
</div>


<app-dialog [(visible)]="showDialogAlert">
        <div class="modal-content">
            <div class="modal-header">
                <button (click)="showDialogAlert = !showDialogAlert;" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="icon-cross" aria-hidden="true"></span>
                </button>
                <h4 class="modal-title custom_align" id="Heading">Referencia</h4>
            </div>
            <div class="modal-body">
                <div class="card-block">
                    <fieldset class="form-group">
                        <label>¿Está seguro de que desea eliminar el registro?</label>
                    </fieldset>
    
                    <div class="modal-footer">
                        <button (click)="showDialogAlert = !showDialogAlert; modalFormulario = !modalFormulario;" type="button" class="btn btn-info">
                            <i class="icon-cross icoBntModal"></i>&nbsp; Cancelar
                        </button>
            
                    <button (click)="eliminarComision();showDialogAlert = !showDialogAlert;" type="submit" class="btn btn-danger">
                            <i class="icon-floppy-disk icoBntModal"></i>&nbsp; Aceptar
                        </button>
                    </div>
    
                </div>
            </div>
            </div>
    </app-dialog>




<div *ngIf="activateLoading" class="Loading">
    <div class="loader"></div>
</div>

<simple-notifications [options]="optionsNotifications"></simple-notifications>

<style>

.form-group label {
    display: block;
}

.minheight{
    min-height: 500px !important;
}

.titleMenuizquiero{
    text-align: start;
    padding-left: 18px;
    margin-bottom: 17px;
}
.titleMenuderecho{
    margin-top: 6px;
    text-align: left;
}

.bodercardblock{
    border: 1px solid #d1d4d7;
}

.alinbtn{
    text-align: right;
}

.alinradio{
    display: flex;
}
.btninput{
    display: flex;
}
.widthInput{
    width: 20px;
    float: left;
    margin-right: 5px;
}

.marginRightRadio{
    margin-right: 20px;
}

.flexbox{
    display: flex;
    align-items: center;
}

.flexboxPadding{
    padding-right: 5px;
    padding-left: 5px;
}


</style>
