.mat-input-underline .mat-input-ripple {
     background-color: transparent !important;
}
/* FORMULARIOS*/

input.mat-input-element::-webkit-input-placeholder {
    color: #C7C7CD;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.form-group {
    margin-bottom: 1em;
}
.form-group label {
    margin-bottom: .5em;
    text-align: left;
    /* display: block; */
}
.form-group .input-group {
    width: 100%;
    display: flex;
    border-collapse: separate;
    flex-direction: row;
}
.form-group .input-group .input-group-addon{
    margin-bottom: 0;
    font-size: 0.875em;
    font-weight: normal;
    line-height: 1.25;
    color: #55595C;
    text-align: center;
    background-color: #D1D4D7;
    border: 1px solid rgba(0, 0, 0, 0.15);
    min-width: 40px;
    white-space: nowrap;
    vertical-align: middle;
}
.form-group .input-group .input-group-addon:not(:last-child) {
    border-right: 0;
}
.form-control{
    display: block;
    width: 97%;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #55595C;
    background-color: #FFF;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus{
    color: #55595C;
    background-color: #FFF;
    border-color: #4DBD74;
    outline: none;
}
.icon-formulario{
    font-size: 1.6em;
}

.content-forms-dinamicos{
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.header-forms{
    line-height: 1.25;
}


select {
    background: white url('./images/select.png') no-repeat !important;
    background-size: 24px 20px !important;
    background-position: right center !important;
    border-radius: 0px !important;
    border: 1px solid #d1d4d7 !important;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 99.5% !important;
    }

.select2-container.form-control, .daterangepicker .select2-container.input-mini, .input-group > .ui-select-bootstrap > input.select2-container.ui-select-search.form-control {
    background: transparent;
    box-shadow: none;
    display: block;
    /* 1 */
    margin: 0;
    padding: 0;
    line-height: 1px !important; }

.select2-container .select2-choice {
    height: 32px;
    padding: 3px 0 0 12px;
    border: none;
    background: #f8f9fa; }

.select2-container .select2-choice .select2-arrow {
    right: 5px;
    top: 4px;
    background: #f8f9fa;
    border: none; }

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    box-shadow: none; }

.select2-drop {
    color: #2a2c36;
    border: 1px solid #d1d4d7;
    border-radius: 0;
    box-shadow: none; }

.select2-container.select2-dropdown-open {
    border-color: #d1d4d7 !important;
    border-radius: 0; }

.select2-container-multi .select2-choices {
    box-shadow: none;
    border-radius: 0 !important;
    border: 1px solid #d1d4d7 !important;
    background: white; }

.select2-default {
    color: #09090b !important;
    padding-left: 12px !important; }

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 4px 18px;
    margin: 5px 0 3px 5px;
    border: 1px solid #d1d4d7;
    border-radius: 0;
    box-shadow: none;
    background-color: #f8f9fa;
    filter: none;
    background-image: none;
    font-size: 11px; }

.select2-container-multi .select2-choices .select2-search-field input {
    color: #2a2c36; }

.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices {
    border-color: #20a8d8 !important;
    box-shadow: none; }

.select2-search-choice-close {
}

.text-area {
    width: 100%;
    height: 800px;
}
.tab-botones{
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding: 0;
}
.marginBottom-1px{
    margin-bottom: -1px;
}

.btnaccionesform{
    padding: 1px 5px;
    font-size: 1px;
    line-height: 1.5;
    border-radius: 3px;
}

/* Venta modal */
.modal-content {
    z-index: 1000;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    min-height: 150px;
    overflow: auto;
    max-height: 90%;
    width: 80%;
    max-width: 800px;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 76%;
    max-width: 770px;
    background-color: #FFF;
}

.modal-header .close {
    margin-top: -2px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal-body {
    height: calc(100% - 4.5rem);
    overflow: auto;
    margin-top: 65px;
}

.modal-footer {
    padding: 15px 0px 0px 0px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.icoBntModal{
    font-size: 12px;
}
.icoBntModalBig{
    font-size: 15px;
}
.btnDetalle{
    color: black;
    cursor: pointer;
}
/* Venta modal */
